<div class="supplier-card">
  <div class="supplier-card-logo">
    <%= link_to '', supplier_search_path(search) %>
    <%#= image_tag search.image %>
    <div class="supplier-card-image" style="background-image: url(<%= image_path(search.image) %>)"></div>
    <div class="supplier-card-badge">
      <%= GmailApi::CountUserMessages.new(current_user).call(search.query) %>
    </div>
  </div>
  <div class="supplier-card-footer">
    <div class="supplier-card-runtime text-center">
      <i class="fas fa-history"></i> | <%= search.updated_at.strftime("%d-%b-%y à %Hh%M")%>
    </div>
    <div class="supplier-card-subscription text-center">
      <%= link_to "Désactiver", not_subscribing_supplier_searches_user_path(search) %>
      <!-- not_subscribing_supplier_searches_user_path(search) -->
<!--       <%#= link_to "" do %>
        <div class="custom-control custom-switch">
          <label class="custom-control-label" for="customSwitch1">Désactiver</label>
          <input type="checkbox" checked class="custom-control-input" id="customSwitch1">
        </div>
      <%# end %> -->
    </div>
  </div>
</div>
