<div class="container">

  <%= link_to "Nouvelle Recherche", new_supplier_search_path, class: "btn btn-primary m-3" %>
  <%= link_to "Les plus recherchés", supplier_searches_users_path, class: "btn btn-primary m-3" %>

  <div class="card-container">
    <% @supplier_searches.each do |search| %>
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <% @email = search.from.scan(/(?<=@)[^.]+(?=\.)/).last%>
          <%= image_tag "//logo.clearbit.com/#{@email}.com", class: "supplier-logo"%>
          <p class="card-text pl-1">
            [30] nouveaux reçus trouvés depuis la dernière connection,[xx] sauvgardés,[x] partagés avec (accountant).
          <br><%= link_to "Voir tous les reçus", supplier_search_path(search) %>
          </p>
          <div><%= link_to supplier_search_path(search), method: :delete, data: { confirm: "Voulez-vous effacer cette recherche?" } do %>
                  <i class="fas fa-trash"></i>
                  <% end %>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex">
        <div><a href="#!" class="btn btn-outline-secondary">run</a></div>
        <div class="flex-grow-1 pl-1"><p>Dernière recherche (search_timestamp)</p></div>
        <div class="align-self-end"><i class="fas fa-cog"></i></div>
      </div>
    </div>
    <% end %>
  </div>
</div>


