<div class="container">
<h1>Votre tableau de bord </h1>
<p>Voici les derniers reçus trouvés pour vos fournisseurs sélectionnés. Vous voulez en ajouter? Cliquez ici</p>
  <div class="card-container">
    <% @supplier_searches.each do |search| %>
    <div class="card">
      <% if Receipt.where(supplier_search_id: search.id, status: "new").count > 0 %>
        <div class="card-body border border-primary text-dark">
      <% else %>
        <div class="card-body">
      <% end %>
        <div class="d-flex">
          <% if search.image.present? %>
              <%= image_tag search.image, class: "supplier-logo"%>
            <% else %>
              <% @email = search.from.scan(/(?<=@)[^.]+(?=\.)/).last%>
              <%= image_tag "//logo.clearbit.com/#{@email}.com", class: "supplier-logo"%>
          <% end %>
            <p class="card-text pl-1 ">
             <span><%= Receipt.where(supplier_search_id: search.id, status: "new").count %></span>
             nouveaux reçus, <br><%= Receipt.where(supplier_search_id: search.id, status: "shared").count  %>
             partagés avec (accountant).
          <br><%= link_to "Voir tous les reçus", supplier_search_path(search) %>
          </p>
          <div><%= link_to supplier_search_path(search), method: :delete, data: { confirm: "Voulez-vous effacer cette recherche?" } do %>
                  <i class="far fa-times-circle"></i>
                  <% end %>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex">
        <div class="flex-grow-1 pl-1"><p>Dernière recherche <br> <%= search.updated_at.strftime("%d %b %Y - %H:%M") %></p></div>
      </div>
    </div>
    <% end %>
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <p>
            <%= link_to "Ajoutez des fournisseurs", supplier_searches_users_path, class: "btn btn-primary m-3" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


