<div class="container">

  <%= link_to "Nouvelle Recherche", new_supplier_search_path, class: "btn btn-primary m-3" %>
  <%= link_to "Les plus recherchés", supplier_searches_users_path, class: "btn btn-primary m-3" %>

  <div class="card-container">
    <% @supplier_searches.each do |search| %>
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <% @email = search.from.scan(/(?<=@)[^.]+(?=\.)/).last%>
            <%= image_tag "//logo.clearbit.com/#{@email}.com", class: "supplier-logo"%>
            <p class="card-text pl-1">
              <span><%= Receipt.where(supplier_search_id: search.id, status: "new").count %></span>
              nouveaux reçus, <br><%= Receipt.where(supplier_search_id: search.id, status: "shared").count  %>
              partagés avec (accountant).
            <br><%= link_to "Voir tous les reçus", supplier_search_path(search) %>
            </p>
            <div><%= link_to supplier_search_path(search), method: :delete, data: { confirm: "Voulez-vous effacer cette recherche?" } do %>
                <i class="far fa-times-circle"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex">
          <div class="flex-grow-1 pl-1"><p>Dernière recherche <br> <%= search.updated_at.strftime("%d %b %Y - %H:%M") %></p></div>
        </div>
      </div>
    <% end %>
  </div>
</div>


