<div class="container mb-5 mt-5 shadow p-3 bg-white rounded">
  <h1 class="text-center">Let's add a new supplier</h1>
  <div class="form w-75 mx-auto">
    <%= simple_form_for [@user, @search] do |f| %>
      <div class= "d-flex justify-content-around mt-5">
        <div class="flex-grow-1">
          <%= f.input :from, :label => 'Supplier Email' %>
        </div>
        <div class="category ml-5">
          <%= f.input :category, :label => 'Category', collection: SupplierSearch::CATEGORY %>
        </div>
      </div>
        <%= f.input :keyword, :label => 'Objet' %>
        <div class= "d-flex">
          <div class="flex-grow-1">
            <%= f.input :keyword, :label => 'Contient les mots' %>
          </div>
          <div class="flex-grow-1 ml-1">
           <%= f.input :keyword, :label => 'Ne doit pas contenir' %>
          </div>
        </div>
        <%= f.input :keyword, :label => "Tous les mails jusqu'au", as: :date %>
        <%= f.input :keyword, :label => 'Rechercher' %>
        <%= f.input :keyword, :label => 'Contenant une pièce jointe', as: :boolean %>
        <%= f.button :submit, :label => 'Add', class: "btn btn-primary mt-3" %>
      <% end %>
  </div>
</div>
