
  <h1 class="text-center mt-3">Ajouter un nouveau fournisseur</h1>
  <div class="form w-75 mx-auto">
    <%= simple_form_for @search do |f| %>
      <div class= "d-flex justify-content-around mt-5">
        <div class="flex-grow-1">
          <%= f.input :from, :label => 'Email' %>
        </div>
        <div class="category ml-5">
          <%= f.input :category, :label => 'Categorie', collection: SupplierSearch::CATEGORY %>
        </div>
      </div>
        <%= f.input :subject, :label => 'Objet' %>
        <div class= "d-flex">
          <div class="flex-grow-1">
            <%= f.input :contains, :label => 'Contient les mots' %>
          </div>
          <div class="flex-grow-1 ml-1">
           <%= f.input :not_contains, :label => 'Ne doit pas contenir' %>
          </div>
        </div>
        <%= f.input :start_date, :label => "Tous les mails jusqu'au", as: :date %>
        <%= f.input :end_date, :label => "Tous les mails jusqu'au", as: :date %>
        <%= f.input :label, :label => 'Où chercher ?', collection: SupplierSearch::LABEL %>
        <%= f.input :attachment, :label => 'Contenant une pièce jointe', as: :boolean %>
        <%= f.button :submit, :value => 'Ajouter', class: "btn btn-primary mt-3 mb-3" %>
      <% end %>

</div>
