<div class="container">
  <h2>Reçus [name] fournisseur </h2>
  <%#= simple_form_for @search do |f| %>
    <%#= f.input :label, :label => 'Où chercher ?', collection: SupplierSearch::LABEL %>
  <%# end %>
  <table class="table table-hover table-responsive text-left">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Objet</th>
        <th>Date/Heure</th>
      </tr>
    </thead>
    <tbody>
      <% @receipts.each do |receipt| %>
        <tr>
          <th scope="row">
            <%# <i class="far fa-square"></i> %>
            <%# <i class="far fa-minus-square btn-minus"></i> %>
            <%= link_to share_receipt_path(receipt) do %>
              <i class="fas fa-share-square"></i>
            <% end %>
            <%= link_to dismiss_receipt_path(receipt) do %>
              <i class="far fa-window-close"></i>
            <% end %>
          </th>
          <td><strong><%= receipt.subject %></strong>
                  <br><%= receipt.snippet %></td>
          <td><%= receipt.send_date%> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= @messages %>
</div>
