<div class="container">

  <h2>Reçus [name] fournisseur </h2>
  <h2 class= "text-left">Reçus [name] fournisseur </h2>
  <table class="table table-hover table-responsive text-left">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Objet</th>
        <th>Date/Heure</th>
      </tr>
    </thead>
    <tbody>
      <% @receipts.each do |receipt| %>
        <tr class = "font-weight-light">
          <th scope="row">
            <%# <i class="far fa-square"></i> %>
            <%# <i class="far fa-minus-square btn-minus"></i> %>
            <%= link_to share_receipt_path(receipt, receiver_id: current_user.receivers.first.id) do %>
              <i class="fas fa-share-square"></i>
            <% end %>
            <%= link_to dismiss_receipt_path(receipt) do %>
              <i class="far fa-window-close"></i>
            <% end %>
          </th>
          <td><strong><%= receipt.subject %></strong>
            <br><%= receipt.snippet %><br>
            <% receipt.attachment_names.each do |attachment| %>
              <span class="badge badge-secondary"><%= attachment %></span>
            <% end %></td>
          <td><%= receipt.send_date.strftime("%d %b %Y - %H:%M")%> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
