<div class="container">

  <%= link_to "<< Retour", supplier_searches_path, class: 'go-back stitch-btn-outline' %>

  <div class="supplier-searches-show-header receipt-line">
    <div class="receipt-line-date" style="background-image: url(<%= image_path @supplier_search.image %>)">
    </div>
    <div class="receipt-line-content">
      <h1 class=""><%= @supplier_search.name %></h1>
      <div><span><%= pluralize(@receipts.count, 'reçu', 'reçus') %></span> à traiter</div>
    </div>
    <% unless @receipts.empty? %>
      <div class="receipt-line-ctas">
        <%= link_to "Tout partager", share_all_receipts_supplier_search_path(@supplier_search), class: 'stitch-btn-green' %>
        <%= link_to "Tout annuler", dismiss_all_receipts_supplier_search_path(@supplier_search), class: 'stitch-btn' %>
      </div>
    <% end %>
  </div>

  <% unless @receipts.empty? %>

    <% @receipts.each do |receipt| %>

      <div class="receipt-line">
        <div class="receipt-line-date text-center">
          <%= receipt.send_date.strftime("%d/%m/%y")%>
          <br>
          <%= receipt.send_date.strftime("%H:%M")%>
        </div>
        <div class="receipt-line-content">
          <div class="subject"><%= receipt.subject %></div>
          <div class="snippet">
            <%= receipt.snippet.truncate(80) %>
          </div>
          <% unless receipt.attachment_names.empty? %>
            <div class="attachments">
              <div><i class="fas fa-paperclip"></i></div>
              <% receipt.attachment_names.each do |attachment| %>
                <div class="attachement"><%= attachment %></div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="receipt-line-ctas">
          <%= link_to "Partager", share_receipt_path(receipt, receiver_id: current_user.receivers.first.id), class: 'stitch-btn-outline-green' %>
          <%= link_to "Annuler", dismiss_receipt_path(receipt), class: 'stitch-btn-outline' %>
        </div>
      </div>

    <% end %>

  <% end %>

</div>
