<!DOCTYPE html>
<html>
  <head>
    <title>StitchR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= render 'shared/sidebar' unless controller_name == "pages" && action_name == "home"%>

  <% if controller_name == "pages" && action_name == "home" %>
    <div>
      <%= render 'shared/flashes' %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <p class="alert"><%= alert %></p>
    </div>
    <%= render 'shared/footer' %>
    <% else %>
      <div class="with-dashboard-container text-center pt-3">
        <%= yield %>
      </div>
  <% end  %>
  </body>
</html>
